<div class="container-md">
  <div class="row">
    <p><%= @your_message %></p>
    <p><%= '- You' %></p>
  </div>
</div>
<br>
<div class="container-md">
  <div class="row">
    <p><%= @answer %></p>
    <p><%= '- Your coach' %></p>
  </div>
</div>
<br>
<%= link_to 'Ask a new question', ask_path %>
